.navmenu {
  height: 85px;
  background-color: #f44336;
  width: 100%;
}

.page {
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0;
  height: calc(100vh - 85px);
  position: absolute;
  width: 100%;
  top: 85px;
}

@media screen and (max-width: 800px) {
  .navmenu {
    height: 90px !important;
  }

  .page {
    height: calc(100vh - 85px);
    top: 90px;
  }
}
