@font-face {
  font-family: "quicksand";
  src: url("/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "quicksand-bold";
  src: url("/fonts/Quicksand-Bold.ttf");
}

.body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background-color: #d8d8d8 !important;
  height: 100vh;
}

p {
  color: #b3b3b3 !important;
  font-weight: 300 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

h1 {
  font-size: 2vh !important;
  text-align: center;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  width: 100vw;
  height: fit-content;
}

.background-image {
  height: 100%;
  width: 100%;
}

.display-flex {
  display: flex !important;
}

.container {
  display: grid;
  max-width: 100%;
  height: 100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.active {
  color: white !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: auto;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}

.fa-phone:before {
  content: "\f095";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-globe:before {
  content: "\f0ac";
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.pt-5 {
  padding-top: 30px !important;
}

.pb-5 {
  padding-bottom: 30px !important;
}

.h-auto {
  height: auto !important;
}

.h-inherit {
  height: inherit !important;
}

.pageHeader {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 3vh;
}
/* Mobile Screen Adjust */

@media screen and (max-width: 766px) {
  .containerPad {
    padding-top: 110px !important;
  }
}

@media screen and (max-width: 766px) {
  .xs-padding {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 766px) {
  .xs-padding-betting {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .mobileScreen {
    width: 96% !important;
    margin-top: 10%;
  }
}

/* HomePage Style */

.w3-display-middle {
  top: 40vh !important;
}

.middle-bar {
  white-space: nowrap;
  background-color: #f44336;
  opacity: 75%;
  width: 100%;
  justify-content: center;
  display: flex;
  height: fit-content;
}

.mainHeader {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 2px;
}

.InfoElement {
  width: auto;
  position: inherit;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.BackgroundNorm {
  background-color: #d8d8d8 !important;
}

.indexContainerPad {
  padding-left: 200px;
  padding-right: 200px;
}

.infoContainer {
  max-width: 100vw;
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f44336 !important;
  padding-top: 10px;
}

.img-style {
  width: 250px;
  height: fit-content;
  margin: auto;
}

.img-home {
  height: 100%;
  margin: auto;
}

.img-home-info {
  max-width: 100%;
  width: fit-content;
}

.reactiveMobileCenter {
  height: 100vh;
}

.reactiveMobileShow {
  display: none;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .mainHeader {
    font-size: 2.25rem !important;
    letter-spacing: 1px;
  }
  .mobileMainPadding {
    padding-top: 40vh !important;
  }

  .indexContainerPad {
    padding-top: 50px;
  }
  .showIndex {
    display: block !important;
  }

  .InfoElement {
    display: inline-block;
  }
}
.mobileHomePage {
  background-color: transparent !important;
}

@media screen and (max-width: 992px) {
  .mobileHomePage {
    background-color: transparent !important;
  }

  .reactiveMobileShow {
    display: block;
  }
  .reactiveMobileHide {
    display: none;
  }
  .reactiveMobileCenter {
    display: flex;
    justify-content: center;
  }
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  min-height: 100%;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}

@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    min-height: 400px;
  }
}

.center-elements {
  display: grid;
  align-content: center;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.footer-style {
  background-color: #f44336;
  opacity: 75%;
  position: absolute;
  width: 100%;
}

/* Style for all Live Pages*/
.score-container-scroll {
  height: calc(93.5vh - 85px);
  width: 100%;
  bottom: 0;
  position: fixed;
  padding-top: 30px;
  overflow: auto;
}

.sport-container-scroll {
  height: calc(100vh - 85px);
  width: 100%;
  bottom: 0;
  position: fixed;
  padding-top: 30px;
  overflow: auto;
}

.headerImage {
  height: 85px;
  width: 50% !important;
  margin-left: 25%;
  position: fixed;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  display: flex;
  top: 0;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width: 766px) {
  .headerImage {
    font-size: 1.25rem !important;
  }
}

@media screen and (min-width: 766px) {
  .mobilePadding {
    padding-top: 2vh !important;
    left: 0 !important;
  }
}
@media screen and (min-width: 1184px) {
  .mobileSetting {
    display: none !important;
  }
}

.responsiveScrollContainer {
  width: 100% !important;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f44336;
  position: fixed;
  height: 6.5vh;
}

.scrollmenu {
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  white-space: nowrap;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.scrollmenu a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .leftArrow {
    display: block !important;
    border-color: white;
  }

  .rightArrow {
    display: block !important;
    border-color: white;
  }
  .scrollmenu {
    overflow: auto;
    width: 90%;
    justify-content: flex-start;
  }

  .responsiveScrollContainer {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

.no-score-info {
  color: black;
  width: 100%;
}
/* Style for all Sport Pages */

.sport-specific-dropdown {
  width: 20% !important;
  left: 15% !important;
  position: fixed !important;
  top: 0rem !important;
}

/* Scoreboard Styles */

.scoreboard {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  background-color: white;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.betBoard {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bestBets {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  background-color: white;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sportsNews {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  overflow: auto;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sportsLink {
  height: 230px;
}

.sourceLogo {
  width: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.newsTitle {
  width: 80%;
  text-align: right;
  font-size: 2vh;
  justify-content: right;
  align-items: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.imageStyle {
  display: flex;
  margin: 10%;
  height: auto;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.header {
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
  color: black;
}

.border-bottom {
  border-bottom-style: solid !important;
  border-width: 1px !important;
  border-bottom-color: black !important;
}

.border-top {
  border-top-style: solid !important;
  border-width: 1px !important;
  border-top-color: black !important;
}

.team {
  display: flex;
  align-items: center;
}

.team .score {
  text-align: right;
}

.win .score {
  font-weight: bold;
  color: black;
}

.win .team {
  color: black;
  font-weight: bold;
}

.headerElement {
  font-size: 1.5vh;
}

.bet-odds-grid {
  font-size: 1.5vh;
  width: 15%;
  text-align: center;
}

.bet-main-element {
  font-size: 1.5vh;
  overflow: hidden;
  width: 42%;
}

/* Signup Form */

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 !important;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cancelbtn {
  width: fit-content;
  color: white;
  padding: 10px 18px;
  background-color: #f44336;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.cancelbtn:hover {
  opacity: 0.8;
}

.cancelSignup {
  padding: 14px 20px;
  background-color: #f44336;
  float: left;
  width: 50%;
}

.signupbtn {
  float: left;
  width: 50%;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: fit-content;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.modal-container {
  padding-top: 50px;
  height: auto;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 12px;
  width: inherit;
  text-align: right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 678px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn .signupbtn {
    width: 100%;
  }
}

.login-cancel {
  display: flex;
}

.paypalBtn {
  background-color: #fefefe;
  height: auto;
  border-radius: 10px;
  max-width: fit-content;
  margin-top: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.paypalBtnHolder {
  height: 50%;
  width: 100%;
  margin-top: 5%;
}

/*Loading Screen for ConfirmPayment*/
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

@media screen and (min-width: 992px) {
  .largeScreenAdjust {
    width: 70%;
    margin-left: 15%;
  }
}
/* Custom Page Mobile Nav*/
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  -o-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #f44336;
  text-decoration: none;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .active {
  color: #000;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
  top: 2rem;
}
.site-navbar .container-fluid {
  padding-left: 7rem;
  padding-right: 7rem;
}
@media (max-width: 1199.98px) {
  .site-navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.site-navbar .site-logo {
  position: absolute;
  left: 5%;
}
@media (max-width: 767.98px) {
  .site-navbar .site-logo {
    position: relative;
    left: auto;
  }
}
.site-navbar .site-logo a {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.site-navbar .site-logo a:hover {
  text-decoration: none;
}

.site-navbar .site-navigation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  position: relative;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 20px 20px !important;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #f44336;
  -webkit-box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown li {
  line-height: 1.4;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  background: #ebeef0;
  color: #f44336;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #ebeef0;
  color: #212529;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a.active {
  background: #ebeef0;
  color: #f44336;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #ebeef0;
  color: #212529;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}
