@page "/"
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>
 
<div class="content">
    <div class="loading mainLoadingß" style="display: none;">Loading&#8230;</div>
    @if(showIndex)
    {
      <SportScoresPro.Pages.HomePage></SportScoresPro.Pages.HomePage>
    }
    @if(showMLBBool)
    {
      <SportScoresPro.Pages.SportPages.MLB></SportScoresPro.Pages.SportPages.MLB>
    }
    @if(showNBABool)
    {
      <SportScoresPro.Pages.SportPages.NBA></SportScoresPro.Pages.SportPages.NBA>
    }
    @if(showNFLBool)
    {
      <SportScoresPro.Pages.SportPages.NFL></SportScoresPro.Pages.SportPages.NFL>
    }
    @if(showNHLBool)
    {
      <SportScoresPro.Pages.SportPages.NHL></SportScoresPro.Pages.SportPages.NHL>
    }
    @if(showLiveScoresBool)
    {
      <SportScoresPro.Pages.LivePages.LiveScores></SportScoresPro.Pages.LivePages.LiveScores>
    }
    @if(showBettingOddsBool)
    {
      <SportScoresPro.Pages.LivePages.AllBetOdds></SportScoresPro.Pages.LivePages.AllBetOdds>
    }
    @if(showPrivacyBool)
    {
      <SportScoresPro.Pages.Privacy></SportScoresPro.Pages.Privacy>
    }
    @if(showAccountBool)
    {
      <SportScoresPro.Pages.AccountHome></SportScoresPro.Pages.AccountHome>
    }
    @if(showMLS)
    {
      <SportScoresPro.Pages.SportPages.MLS></SportScoresPro.Pages.SportPages.MLS>
    }
    @if(showPrem)
    {
      <SportScoresPro.Pages.SportPages.PremierLeague></SportScoresPro.Pages.SportPages.PremierLeague>
    }
    @if(showBundesliga)
    {
      <SportScoresPro.Pages.SportPages.Bundesliga></SportScoresPro.Pages.SportPages.Bundesliga>
    }
    @if(showLeague1)
    {
      <SportScoresPro.Pages.SportPages.Ligue1></SportScoresPro.Pages.SportPages.Ligue1>
    }
    @if(showLaLiga)
    {
      <SportScoresPro.Pages.SportPages.LaLiga></SportScoresPro.Pages.SportPages.LaLiga>
    }
    @if(showSerieA)
    {
      <SportScoresPro.Pages.SportPages.SerieA></SportScoresPro.Pages.SportPages.SerieA>
    }
    @if(showCBB)
    {
      <SportScoresPro.Pages.SportPages.CollegeBasketball></SportScoresPro.Pages.SportPages.CollegeBasketball>
    }
    @if(showCFB)
    {
      <SportScoresPro.Pages.SportPages.CollegeFootball></SportScoresPro.Pages.SportPages.CollegeFootball>
    }
    @if(showCBaseball)
    {
      <SportScoresPro.Pages.SportPages.CollegeBaseball></SportScoresPro.Pages.SportPages.CollegeBaseball>
    }
</div>

@code
{
  public Boolean showIndex = true;
  public Boolean showMLBBool = false;
  public Boolean showNBABool = false;
  public Boolean showNHLBool = false;
  public Boolean showNFLBool = false;
  public Boolean showLiveScoresBool = false;
  public Boolean showBettingOddsBool = false;
  public Boolean showPrivacyBool = false;
  public Boolean showAccountBool = false;
  public Boolean showMLS = false;
  public Boolean showPrem = false;
  public Boolean showBundesliga = false;
  public Boolean showLeague1 = false;
  public Boolean showLaLiga = false;
  public Boolean showSerieA= false;
  public Boolean showCBB = false;
  public Boolean showCFB = false;
  public Boolean showCBaseball = false;

  protected override async Task OnInitializedAsync()
  {
    string tempHome = HttpContextAccessor.HttpContext.Request.Cookies["showHome"];
    if(tempHome == "true"){
      showIndex = true;
      await allFalseExcept("index");
      deleteCookie("showHome");
    }

    string tempMLB = HttpContextAccessor.HttpContext.Request.Cookies["showMLB"];
    if(tempMLB == "true"){
      showMLBBool = true;
      await allFalseExcept("mlb");
      deleteCookie("showMLB");
    }

    string tempNBA = HttpContextAccessor.HttpContext.Request.Cookies["showNBA"];
    if(tempNBA == "true"){
      showNBABool = true;
      await allFalseExcept("nba");
      deleteCookie("showNBA");
    }

    string tempNFL = HttpContextAccessor.HttpContext.Request.Cookies["showNFL"];
    if(tempNFL == "true"){
      showNFLBool = true;
      await allFalseExcept("nfl");
      deleteCookie("showNFL");
    }

    string tempNHL = HttpContextAccessor.HttpContext.Request.Cookies["showNHL"];
    if(tempNHL == "true"){
      showNHLBool = true;
      await allFalseExcept("nhl");
      deleteCookie("showNHL");
    }

    string tempAccount = HttpContextAccessor.HttpContext.Request.Cookies["showAccount"];
    if(tempAccount == "true"){
      showAccountBool = true;
      await allFalseExcept("account");
      deleteCookie("showAccount");
    }
    string tempBettingOdds = HttpContextAccessor.HttpContext.Request.Cookies["showBettingOdds"];
    if(tempBettingOdds == "true"){
      showBettingOddsBool = true;
      await allFalseExcept("bettingodds");
      deleteCookie("showBettingOdds");
    }
    string tempLiveScores = HttpContextAccessor.HttpContext.Request.Cookies["showLiveScores"];
    if(tempLiveScores == "true"){
      showLiveScoresBool = true;
      await allFalseExcept("livescores");
      deleteCookie("showLiveScores");
    }
    string tempLeague1 = HttpContextAccessor.HttpContext.Request.Cookies["showLeague1"];
    if(tempLeague1 == "true"){
      showLeague1 = true;
      await allFalseExcept("league");
      deleteCookie("showLeague1");
    }
    string tempPrem = HttpContextAccessor.HttpContext.Request.Cookies["showPrem"];
    if(tempPrem == "true"){
      showPrem = true;
      await allFalseExcept("premier");
      deleteCookie("showPrem");
    }
    string tempLaLiga = HttpContextAccessor.HttpContext.Request.Cookies["showLaLiga"];
    if(tempLaLiga == "true"){
      showLaLiga = true;
      await allFalseExcept("laliga");
      deleteCookie("showLaLiga");
    }
    string tempBundesliga = HttpContextAccessor.HttpContext.Request.Cookies["showBundesliga"];
    if(tempBundesliga == "true"){
      showBundesliga = true;
      await allFalseExcept("bundesliga");
      deleteCookie("showBundesliga");
    }
    string tempSerieA = HttpContextAccessor.HttpContext.Request.Cookies["showSerieA"];
    if(tempSerieA == "true"){
      showSerieA = true;
      await allFalseExcept("serie");
      deleteCookie("showSerieA");
    }
    string tempMLS = HttpContextAccessor.HttpContext.Request.Cookies["showMLS"];
    if(tempMLS == "true"){
      showMLS = true;
      await allFalseExcept("mls");
      deleteCookie("showMLS");
    }
    string tempCBB = HttpContextAccessor.HttpContext.Request.Cookies["showCBB"];
    if(tempCBB == "true"){
      showCBB = true;
      await allFalseExcept("cbb");
      deleteCookie("showCBB");
    }
    string tempCFB = HttpContextAccessor.HttpContext.Request.Cookies["showCFB"];
    if(tempCFB == "true"){
      showCFB = true;
      await allFalseExcept("cfb");
      deleteCookie("showCFB");
    }
    string tempCBaseball = HttpContextAccessor.HttpContext.Request.Cookies["showCBaseball"];
    if(tempCBaseball == "true"){
      showCBaseball = true;
      await allFalseExcept("cbaseball");
      deleteCookie("showCBaseball");
    }
    string tempCancel = HttpContextAccessor.HttpContext.Request.Cookies["cancelPressed"];
    if(tempCancel == "true"){
      showPrivacyBool = false;
      showIndex = true;
      deleteCookie("cancelPressed");
    }
  }
  public async Task deleteCookie(string cookieName){
    await JSRuntime.InvokeVoidAsync("cookieInterop.deleteCookie", cookieName);
  }

  public async Task allFalseExcept(string activePage){
    if(activePage == "index"){
      showMLBBool = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "mlb"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "nba"){
        showIndex = showMLBBool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "nhl"){
        showIndex = showNBABool = showMLBBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "nfl"){
        showIndex = showNBABool = showNHLBool = showMLBBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "livescores"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showMLBBool = showBettingOddsBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "bettingodds"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showMLBBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "privacy"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "account"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "changepsw"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showMLBBool = showPrivacyBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "premier"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "league"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "bundesliga"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "laliga"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "serie"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showCBB = showCFB = showCBaseball = false;
    }
    else if(activePage == "cbb"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCFB = showCBaseball = false;
    }
    else if(activePage == "cbaseball"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = false;
    }
    else if(activePage == "cfb"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showMLS = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCBaseball = false;
    }
    else if(activePage == "mls"){
        showIndex = showNBABool = showNHLBool = showNFLBool = showLiveScoresBool = showBettingOddsBool = showPrivacyBool = showMLBBool = showAccountBool = showPrem = showBundesliga = showLeague1 = showLaLiga = showSerieA = showCBB = showCFB = showCBaseball = false;
    }
  }
}
