@inherits LayoutComponentBase

<PageTitle>SportScoresPro</PageTitle>

<div class="body">
  <div class="container no-gutters">
    <div class="row no-gutters navmenu">
      <div class="col-12 no-gutters">
        <NavMenu />
      </div>
    </div>

    <div class="row no-gutters page">
      <main class="col-12 no-gutters">@Body</main>
    </div>
  </div>
</div>

